@import "typicons";

$body-copy-font: 'Raleway';
$heading-font: 'Montserrat';
$grid-collapse-below: 550px;
$main-color: #E54C3C;

$z-menu: 500;

@import "qb/all";

//these palceholder classes do nothing, they just serve as reference for stuff done thorugh php
%custom-bg{}
%custom-color{}
%custom-border{}

%button{
	background: $main-color;
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 6px 16px;
	font-family: $heading-font;
	transition: background 0.2s ease-out;
	
	&:hover{
		text-decoration: none;
	}
}

.button,
html a.button,
input[type='submit'],
input[type='button']{
	@extend %button;
}

input[type='text'],input[type='email'], input[type='url'], input[type='tel'], input[type='number'], input[type='date'], textarea, select{
	display: inline-block;
	padding: 4px 10px;
	border: 1px solid transparent;
	background: #f1f1f1;
}

input[type='text'],input[type='email'], input[type='url'], select{
	max-width:300px;
}

input[type='tel'], input[type='number'], input[type='date']{
	max-width:170px;
}