@charset "UTF-8";
@import "signature";
@import "base";

.site-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.content{
	padding-top: 50px;
	
	@include width-below($grid-collapse-below){
		padding-top: 0;
	}
}

.wrapper{

	max-width: 1200px;
	margin: 0 auto;
	
	@include width-below(1200px){
		max-width: 960px;
	}
	@include width-below(960px){
		max-width: 800px;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
		padding: 0 5%;
	}
}

.main-content{
	
	article{
		padding:0 50px 50px 50px;
	}
}

$menu-width: 280px;

.site-header{
	z-index: $z-menu;
	width: 100%;
	@extend %custom-bg;
	@extend .clearfix;
	
	@include width-below($grid-collapse-below){
		width: $menu-width;
		height: 100%;
		position: absolute;
		top: 0;
		left: -$menu-width;
		background: #333;
	}
	
	.intro-logo{
		text-align: center;
		
		a{
			font-size: 26px;
		}
	}
	
}
.main-menu{
	width: 100%;
	text-align: center;
	font-family: $heading-font;
	
	@include width-below($grid-collapse-below){
		text-align: left;
	}
}
.site-header ul{
	list-style: none;
}
.site-header li{
	display: inline-block;
	
	@include width-below($grid-collapse-below){
		display: block;		
	}
	
	&.current-menu-item a,
	&:hover a{
		opacity: 1;
	}
}
.site-header a{
	display: inline-block;
	color: #fff;
	padding:18px 10px 20px 15px;
	text-decoration: none;
	font-size: 16px;
	opacity: .7;
	
	@include width-below($grid-collapse-below){
		display: block;
		color: #fff;
	}
}
.top-level-menu{
	z-index: 10;
	position: relative;
}
.site-header .sub-menu{
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	top: 100%;
	padding-top: 1px;
	display: none;
	
	@include width-below($grid-collapse-below){
		display: block;
		position: static;
		background: #333;
		padding-top: 0;
	}
	
	li{
		opacity: 1;
	}
	a{
		font-size: 14px;
		padding:12px 10px 14px 10px;
		transition: .2s background ease-out, 
					.2s color ease-out;
	}
}
.site-header .sub-menu a{
	@extend %custom-color;
	font-size: 16px;
	
	@include width-below($grid-collapse-below){
		color: #fff !important;
		padding-left: 30px;
		opacity: 1;
	}

	&:hover{
		@extend %custom-bg;
	}
}
//this would be a no-js version of the menu hovering
//.top-level-menu > li:hover .sub-menu{
//	display: block;
//}

.site-header .search-wrapper,
.site-header .social-menu{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 100;
	
	@include width-below($grid-collapse-below){
		position: static;
	}
}
.site-header .search-wrapper{
	left: 0;
	width: 15%;
	max-width: 250px;
	display: flex;
	align-items: center;
	
	&.active{
		background: #fff;
	}
	
	@include width-below($grid-collapse-below){
		width: 100%;
		max-width: none;
		align-items: flex-start;
		padding: 10px 0;
	}
}

.search-wrapper .search-form{
	display: none;
}
.search-wrapper .search-form .search-field{
	width: 80%;
	padding: 4px 4px;
	border-left: 2px solid #B2B2B2;
	
	&:focus{
		background: #fff;
	}
}
.search-wrapper .search-form .reset-btn{
	background: #fff;
}
.search-wrapper .submit-btn{
	display: none;
}
.search-wrapper .form-toggle{
	border: none;
	background: none;
	color: #f1f1f1;
	font-size: 20px;
	
	@include width-below($grid-collapse-below){
		padding-top: 10px;
		padding-left: 15px;
	}
}

.site-header .social-menu{
	right: 0;
	
	a{
		padding: 15px 5px;
	}
	
	@include width-below($grid-collapse-below){
		
		padding-left: 5px;
		li{
			display: inline-block;
		}
	}
}
.site-header .social-menu .typcn:before{
	font-size: 26px;
}


body.admin-bar .site-header{
	top: 32px !important;
}

.menu-toggle{
	background: none;
	border: none;
	font-size: 30px;
	display: none;
	
	@include width-below($grid-collapse-below){
		display: block;
	}
}


.sidebar{
	padding-top:0;
}

.footer-wrapper {
	padding-top: 60px;
}

.footerbar{
	margin-top: 20px;
	
	.widget{
		border-bottom: none;
	}
}

.footerbar .widget{
	@extend %grid-col;
	
	@include width-above(701px){
		width: 33.3%;
	}
	@include width-below(700px){
		width: 50%;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
	}
}

.site-footer{
	width: 95%;
	margin: 40px auto 0;
	padding: 20px 0;
	@extend %custom-border;
	border-top-width: 1px;
	border-top-style: solid;
}
.site-footer a{
	@extend %custom-color;
	text-decoration: none;
	font-family: $heading-font;
}
.site-footer .footnote{
	@include width-below($grid-collapse-below){
		text-align: center;
	}
}
.site-footer .menu{
	text-align: right;
	
	@include width-below($grid-collapse-below){
		text-align: center;
		margin-top: 20px;
	}
}
.site-footer .menu ul{
	list-style: none;
}
.site-footer .menu li{
	display: inline-block;
	margin-left: 14px;
}

.back-to-top{
	border: none;
	position: fixed;
	right: 50px;
	bottom: 0;
	padding: 10px;
	
	&:before{
		font-size: 22px;
	}
}


@import "modules/search";
@import "modules/post";
@import "modules/pages";
@import "modules/comments";
@import "modules/widgets";
@import "modules/pagination";