@charset "UTF-8";
@import "signature";
@import "base";

.page-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}

$menu-width: 280px;

.content-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	transition: .4s transform ease-out;

	@include width-below($grid-collapse-below){
		&.menu-open{
			transform: translateX($menu-width);
		}
	}
}

.menu-wrapper{
	position: fixed;
	z-index: $z-menu;
	width: 100%;
	@extend %custom-bg;
	@extend .clearfix;
	
	@include width-below($grid-collapse-below){
		width: $menu-width;
		height: 100%;
		position: absolute;
		top: 0;
		left: -$menu-width;
		background: #333;
	}
}
.main-menu{
	width: 100%;
	text-align: center;
	font-family: $heading-font;
	
	@include width-below($grid-collapse-below){
		text-align: left;
	}
}
.menu-wrapper ul{
	list-style: none;
}
.menu-wrapper li{
	display: inline-block;
	
	@include width-below($grid-collapse-below){
		display: block;		
	}
	
	&.current-menu-item a,
	&:hover a{
		opacity: 1;
	}
}
.menu-wrapper a{
	display: inline-block;
	color: #fff;
	padding:18px 10px 20px 15px;
	text-decoration: none;
	font-size: 16px;
	opacity: .7;
	
	@include width-below($grid-collapse-below){
		display: block;
		color: #fff;
	}
}
.top-level-menu{
	z-index: 10;
	position: relative;
}
.menu-wrapper .sub-menu{
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	top: 100%;
	padding-top: 1px;
	display: none;
	
	@include width-below($grid-collapse-below){
		display: block;
		position: static;
		background: #333;
		padding-top: 0;
	}
	
	li{
		opacity: 1;
	}
	a{
		font-size: 14px;
		padding:12px 10px 14px 10px;
		transition: .2s background ease-out, 
					.2s color ease-out;
	}
}
.menu-wrapper .sub-menu a{
	@extend %custom-color;
	font-size: 16px;
	
	@include width-below($grid-collapse-below){
		color: #fff !important;
		padding-left: 30px;
		opacity: 1;
	}

	&:hover{
		@extend %custom-bg;
	}
}
//this would be a no-js version of the menu hovering
//.top-level-menu > li:hover .sub-menu{
//	display: block;
//}

.menu-wrapper .search-wrapper,
.menu-wrapper .social-menu{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 100;
	
	@include width-below($grid-collapse-below){
		position: static;
	}
}
.menu-wrapper .search-wrapper{
	left: 0;
	width: 15%;
	max-width: 250px;
	display: flex;
	align-items: center;
	
	&.active{
		background: #fff;
	}
	
	@include width-below($grid-collapse-below){
		width: 100%;
		max-width: none;
		align-items: flex-start;
		padding: 10px 0;
	}
}

.search-wrapper .search-form{
	display: none;
}
.search-wrapper .search-form .search-field{
	width: 80%;
	padding: 4px 4px;
	border-left: 2px solid #B2B2B2;
	
	&:focus{
		background: #fff;
	}
}
.search-wrapper .search-form .reset-btn{
	background: #fff;
}
.search-wrapper .submit-btn{
	display: none;
}
.search-wrapper .form-toggle{
	border: none;
	background: none;
	color: #f1f1f1;
	font-size: 20px;
	
	@include width-below($grid-collapse-below){
		padding-top: 10px;
		padding-left: 15px;
	}
}

.menu-wrapper .social-menu{
	right: 0;
	
	a{
		padding: 15px 5px;
	}
	
	@include width-below($grid-collapse-below){
		
		padding-left: 5px;
		li{
			display: inline-block;
		}
	}
}
.menu-wrapper .social-menu .typcn:before{
	font-size: 26px;
}

.content{
	padding-top: 40px;
	
	@include width-below($grid-collapse-below){
		padding-top: 0;
	}
}
.cover .content{
	padding-top: 0;
}

.hero-image{
	width: 100%;
	height: 400px;
	margin-bottom: 40px;
	background: #fafafa;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	@include width-below($grid-collapse-below){
		top: 0;
		height: 50px;
		z-index: 200;
		justify-content: space-between;
		background-position: center;
	}
}

@include width-below($grid-collapse-below){
	.admin-bar .hero-image{
		top: auto;
	}
	
	.home .hero-image{
//		align-items:baseline;	
	}
}
.cover .hero-image{
	margin-bottom: 70px;
	
	@media only screen and (max-height: 500px){
		height: 400px;
	}
	@media only screen and (min-height: 501px){
		height: 490px;
	}
	@media only screen and (min-height: 700px){
		height: 690px;
	}
	@media only screen and (min-height: 850px){
		height: 830px;
	}
	
	@include width-below($grid-collapse-below){
		position: static;
		margin-bottom: 20px;
	}
} 
.cover .menu-wrapper{
	position: absolute;
	
	@media only screen and (max-height: 500px){
		top: 400px;
	}
	@media only screen and (min-height: 501px){
		top: 490px;
	}
	@media only screen and (min-height: 850px){
		top: 830px;
	}
	
	@include width-below($grid-collapse-below){
		top: 0;
	}
	
	&.stuck{
		position: fixed;
		top: 0 !important;
	}
}

body.admin-bar .cover .menu-wrapper.stuck{
	top: 32px !important;
}

.menu-toggle{
	background: none;
	border: none;
	font-size: 30px;
	display: none;
	
	@include width-below($grid-collapse-below){
		display: block;
	}
}
.hero-text{
	background: #333;
	color: #fff;
	padding: 6px 18px;
	font-family: $heading-font;
	font-size: 38px;
	text-decoration: none;
	
	@include width-below($grid-collapse-below){
		font-size: 20px;
		margin-right: 10px;
	}
}

.content .wrapper,
.footer-wrapper .wrapper{

	width: 900px;
	margin: 0 auto;
	
	@include width-below(1000px){
		width: 800px;
	}
	@include width-below(800px){
		width: 500px;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
		padding: 0 15px;
		/*padding-top: 50px;*/
	}
}

.posts{
	list-style: none;
	padding:0 0 10px;
}

.cover .posts{
	padding-top:25px;	
}

.posts .post{
	margin-bottom: 50px;
}

.sidebar{
	padding-top:0;
}

.cover .sidebar{
	padding-top:25px;
}

.footer-wrapper {
	padding-top: 60px;
}

.footerbar{
	margin-top: 20px;
	
	.widget{
		border-bottom: none;
	}
}

.footerbar .widget{
	@extend %grid-col;
	
	@include width-above(701px){
		width: 33.3%;
	}
	@include width-below(700px){
		width: 50%;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
	}
}

.footer{
	width: 95%;
	margin: 40px auto 0;
	padding: 20px 0;
	@extend %custom-border;
	border-top-width: 1px;
	border-top-style: solid;
}
.footer a{
	@extend %custom-color;
	text-decoration: none;
	font-family: $heading-font;
}
.footer .footnote{
	@include width-below($grid-collapse-below){
		text-align: center;
	}
}
.footer .menu{
	text-align: right;
	
	@include width-below($grid-collapse-below){
		text-align: center;
		margin-top: 20px;
	}
}
.footer .menu ul{
	list-style: none;
}
.footer .menu li{
	display: inline-block;
	margin-left: 14px;
}

.back-to-top{
	border: none;
	position: fixed;
	right: 0;
	bottom: 70px;
	padding: 10px;
	
	&:before{
		font-size: 22px;
	}
}


@import "modules/search";
@import "modules/post";
@import "modules/pages";
@import "modules/comments";
@import "modules/widgets";
@import "modules/pagination";