.post-comments{
}

.comment-form{
	margin: 20px 0;
}

.comment-form > p{
	position: relative;
	margin-bottom: 10px;
	padding-left: 32px;
	background: #F1F1F1;
}
.comment-form .comment-form-author label{
	@extend .typcn-user-outline;
}
.comment-form .comment-form-email label{
	@extend .typcn-at;
}
.comment-form .comment-form-url label{
	@extend .typcn-link;
}
.comment-form .comment-form-comment label{
	@extend .typcn-pencil;
}
.comment-form label{
	position: absolute;
	top: 0;
	left: 45px;
	padding-top: 4px;
	font-size: 20px;
	color: rgba(black, .6);
	@extend .typcn;
	
	&:before{
		position: absolute;
		top: 0;
		left: -45px;
		z-index: 101;
		display: block;
		width: 32px;
		height: 32px;
		padding: 6px 4px;
		color: #fff;
		font-size: 20px;
		background: #333333;
	}
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"]{
	position: relative;
	z-index: 100;
	width: 100%;
	line-height:20px;
	padding: 4px 10px;
	background: none;
	border: none;
	height:32px;
		
	&:focus{
		background: inherit;
	}
}
.comment-form .comment-form-comment{
	background: transparent;
}
.comment-form textarea{
	position: relative;
	z-index: 100;
	width: 100%;
	background: #F1F1F1;
	border: none;
	margin:0;
	padding: 4px 10px;
}
.comment-form .form-submit{
	text-align: right;
	background: transparent;
}
.comment-form input[type="submit"]{
	@extend .button;
	margin-right:0;
}
.comment-form .logged-in-as{
	background: transparent;
	padding: 0;
	margin: 10px 0;
	
	a{
		text-decoration: none;
	}
}

.comment-list{
	list-style: none;
	
	.children{
		list-style: none;
		margin-left: 20%;
		margin-top: 50px;
	}
}

.comment{
	@extend .clearfix;
	margin-bottom: 30px;
}
.comment-aside{
	float: left;
	width: 15%;
	
	.avatar{
		border-radius: 50%;
		position: relative;
		top: -25px;
		height: 100%;
	}
}
.comment-main{
	float: left;
	width: 85%;
	padding-left: 20px;
}
.comment-author{
	font-family: $heading-font;
	font-size: 22px;
	margin-bottom: 30px;
	
	a{
		font-style: normal;
		@extend %custom-color;
		text-decoration: none;
	}
	cite{
		font-style: normal;
	}
}
.comment-footer{
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	@extend %custom-border;
	
	.comment-date{
		display: inline-block;
		opacity: .6;
	}
	.reply{
		float: right;
		padding-right: 4px;
	}
}
.comment-reply-link{
	@extend %custom-color;
	text-decoration: none;
}