// Common styles

.widget{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #f1f1f1;
	
	ul,
	ol{
		list-style: none;
	}
	
	ul li{
		padding-bottom: 5px;
		margin-bottom: 10px;
		
		&:last-child{
			padding-bottom:0;
			margin-bottom:0;
		}
	}
	
	a{
		@extend %custom-color;
		text-decoration: none;
	}
	table{
		width: 100%;
	}
	td{
		text-align: center;
	}
	select{
		max-width: 100%;
	}
	
}
.widget > h3{
	font-size: 20px;
	margin-bottom: 10px;
	color:#333;
	@extend .typcn;
	&:before{
		@extend %custom-color;
		margin-right: 5px;
	}
}

// WordPress default widgets

.widget_search{
	position: relative;
	padding: 8px 0 30px;
	
	.search-field{
		width: 100%;
		padding: 4px 40px 4px 10px;
		line-height: 32px;
	}
	.reset-btn{
		right: 15%;
		top: 6px;
	}
	.submit-btn{
		width: 40px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		
		&:before{
			font-size: 24px;
		}
	}
}

.widget_tag_cloud h3,
.widget_categories h3{
	@extend .typcn-tags;
}

.widget_recent_entries h3{
	@extend .typcn-folder-open;
}

.widget_archive h3{
	@extend .typcn-archive;
}

.widget_pages h3{
	@extend .typcn-document;
}

.widget_meta h3{
	@extend .typcn-link;
}

.widget_nav_menu h3{
	@extend .typcn-th-list;
}

.widget_recent_entries h3{
	@extend .typcn-folder-open;
}

.widget_search h3{
	@extend .typcn-zoom;
}

.widget_recent_comments h3{
	@extend .typcn-messages;
}

.widget_text{

	h3{
		@extend .typcn-folder-open;
	}
	
	p {
		margin-bottom: 10px;
	}
	img{
		height:auto;
	}
	
	.wp-caption{
		background: #f1f1f1;
		margin-bottom: 10px;
		
		.wp-caption-text{
			font-size: 14px;
			text-align: center;
			padding-bottom: 5px;
		}
	}
}

.widget_tag_cloud a{
	display: inline-block;
	color: #b2b2b2;
	background: #f1f1f1;
	padding: 6px 8px;
	margin: 2px 0;
	
	&:hover{
		color: darken(#B2B2B2, 10);
		background: darken(#F1F1F1, 5);
	}
}

.widget_calendar{
	h3{
		@extend .typcn-calender;
	}
	
	caption{
		font-family: $heading-font;
		font-size: 16px;
		margin-bottom: 5px;
		padding: 10px 0;
		background: #f1f1f1;
	}
	
	th{
		font-weight: 400;
		color: #B2B2B2;
		padding: 5px 0;
	}
	
	td,
	th{
		padding: 5px;
	}
	
	#today{
		font-weight:bold;
	}
	
	#next,
	#prev{
		padding:0;
	}
	
	#next a,
	#prev a{
		display:block;
		margin-top:10px;
		width: 100%;
		height: 100%;
		@extend %button;
	}
}

.widget_rss{

	ul li a.rsswidget{
		display:block;
		margin-bottom: 5px;
	}
	
	.rss-date {
		font-size: 14px;
	}
	
	.rssSummary{
		margin: 5px 0;
	}
}

// Galopin custom widgets

.widget_galopincalltoaction{
	
	h3{
		@extend .typcn-flag-outline;
	}
	
	.cta-description{
	
		p{
			margin-bottom: 10px;
			line-height: 1.42;
		}
	}
	
	a.button{
		display:inline-block;
	}
}

.widget_galopinsocial{
	
	h3{
		@extend .typcn-thumbs-up
	}
	
	ul {
		overflow: hidden;
		@extend .clearfix;
		
		li{
			float: left;
			padding: 5px;
			margin-bottom:0;
			
			a{
				font-size:26px;
			}
		}
	}
}

.widget_galopinvideo{
	h3{
		@extend .typcn-video-outline
	}
}

