$grid-gutters: 20px;
$grid-collapse-below: 500px !default;

.grid{
	@extend .clearfix;
	margin-left: - $grid-gutters !important;
}
%grid-col{
	float: left;
	padding-left: $grid-gutters;
}
[class*='col-']{
	@extend %grid-col;
}
.col-1-1{
	width: 100%;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.33%;
}
.col-2-3{
	width: 66.66%;
}
.col-1-4{
	width: 25%;
}
.col-1-5{
	width: 20%;
}
.col-4-5{
	width: 80%;
}

@media only screen and (max-width: $grid-collapse-below){
	[class*='col-']{
		width: 100%;
		padding-left: 0;
	}
	.grid{
		margin-left: 0 !important;
	}
}